.bookDiv {
    border: 2px solid black;
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
    min-height: 344px;
    padding: 7px;
    position: relative;
    max-height: 500px;
}
img {
    float: left;
    height: 100%!important;
    width: auto!important;
    margin: 20px;
}
.title {
    min-width: 500px;
    display: flex;
}
.description {
    overflow: hidden;
}
.media-body {
    max-height: 480px;
    overflow: hidden;
}
.viewButton {
    position: absolute;
    bottom: 7px;
}
.saveButton {
    position: absolute;
    bottom: 7px;
    left: 65px;
}